---

- name: Create Prometheus NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/prom

- name: Create Grafana NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/grafana

- name: Get Storage IP
  ansible.builtin.include_role:
    name: storage
    tasks_from: get_ip

- name: Add Prometheus Annotations to Ingress
  kubernetes.core.k8s:
    state: patched
    kind: DaemonSet
    name: nginx-ingress-microk8s-controller
    namespace: ingress
    definition:
      spec:
        template:
          metadata:
            annotations:
              prometheus.io/scrape: "true"
              prometheus.io/scheme: "http"
              prometheus.io/port: "10254"
              prometheus.io.path: "/metrics"

- name: Create Monitoring Namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    name: monitoring

- name: Create Prometheus PersistentVolume
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: prom-nfs-pv
        labels:
          directory: prom
      spec:
        capacity:
          storage: 10Gi
        accessModes:
          - ReadWriteOnce
        persistentVolumeReclaimPolicy: Retain
        storageClassName: slow
        volumeMode: Filesystem
        nfs:
          path: /prom
          server: "{{ storage_ip }}"

- name: Create Prometheus PersistentVolumeClaim
  register: pvc
  until: pvc.result.status.phase | d(None) == "Bound"
  retries: 5
  delay: 10
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: prom-nfs-pvc
        namespace: monitoring
      spec:
        selector:
          matchLabels:
            directory: prom
        accessModes:
          - ReadWriteOnce
        storageClassName: slow
        resources:
          requests:
            storage: 10Gi

- name: Add Prometheus Community Helm Repository
  kubernetes.core.helm_repository:
    state: present
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

- name: Install Prometheus Helm Chart
  kubernetes.core.helm:
    state: present
    wait: true
    update_repo_cache: true
    name: prometheus
    namespace: monitoring
    chart_ref: prometheus-community/prometheus
    values:
      rbac:
        create: false
      serviceAccounts:
        server:
          create: false
      server:
        global:
          scrape_interval: 15s
        ingress:
          enabled: true
          annotations:
            kubernetes.io/ingress-class: nginx
          hosts:
            - prometheus.local
        persistentVolume:
          existingClaim: prom-nfs-pvc
          selector:
            matchLabels:
              directory: prom
      alertmanager:
        enabled: false

- name: Create Grafana PersistentVolume
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: grafana-nfs-pv
        labels:
          directory: grafana
      spec:
        capacity:
          storage: 10Gi
        accessModes:
          - ReadWriteOnce
        persistentVolumeReclaimPolicy: Retain
        storageClassName: slow
        volumeMode: Filesystem
        nfs:
          path: /grafana
          server: "{{ storage_ip }}"

- name: Create Grafana PersistentVolumeClaim
  register: pvc
  until: pvc.result.status.phase | d(None) == "Bound"
  retries: 5
  delay: 10
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: grafana-nfs-pvc
        namespace: monitoring
      spec:
        selector:
          matchLabels:
            directory: grafana
        accessModes:
          - ReadWriteOnce
        storageClassName: slow
        resources:
          requests:
            storage: 10Gi

- name: Add Grafana Helm Repository
  kubernetes.core.helm_repository:
    state: present
    name: grafana
    repo_url: https://grafana.github.io/helm-charts

- name: Install Grafana Helm Chart
  kubernetes.core.helm:
    state: present
    wait: true
    update_repo_cache: true
    name: grafana
    namespace: monitoring
    chart_ref: grafana/grafana
    values:
      rbac:
        create: false
      serviceAccount:
        create: false
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress-class: nginx
        hosts:
          - grafana.local
      persistence:
        enabled: true
        existingClaim: grafana-nfs-pvc
      adminPassword: pass
      namespaceOverride: monitoring
