---

- name: Create MySQL NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/mysql

- name: Get Storage IP
  ansible.builtin.include_role:
    name: storage
    tasks_from: get_ip

- name: Create Database Namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    name: database

- name: Create MySQL PersistentVolume
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: mysql-nfs-pv
        labels:
          directory: mysql
      spec:
        capacity:
          storage: 300Gi
        accessModes:
          - ReadWriteMany
        persistentVolumeReclaimPolicy: Retain
        storageClassName: fast
        volumeMode: Filesystem
        nfs:
          path: /mysql
          server: "{{ storage_ip }}"

- name: Create MySQL PersistentVolumeClaim
  register: pvc
  until: pvc.result.status.phase | d(None) == "Bound"
  retries: 5
  delay: 10
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: mysql-nfs-pvc
        namespace: database
      spec:
        selector:
          matchLabels:
            directory: mysql
        accessModes:
          - ReadWriteMany
        storageClassName: fast
        resources:
          requests:
            storage: 300Gi

- name: Create MySQL Deployment
  kubernetes.core.k8s:
    state: present
    wait: yes
    wait_condition:
      type: Available
      status: "True"
      reason: MinimumReplicasAvailable
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: mysql
        namespace: database
        labels:
          app: mysql
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: mysql
        template:
          metadata:
            labels:
              app: mysql
          spec:
            containers:
              - name: mysql
                image: mysql:9
                imagePullPolicy: Always
                env:
                  - name: MYSQL_ROOT_PASSWORD
                    value: "{{ db_password }}"
                ports:
                  - containerPort: 3306
                volumeMounts:
                  - name: mysql-nfs-pv
                    mountPath: /var/lib/mysql
            volumes:
              - name: mysql-nfs-pv
                persistentVolumeClaim:
                  claimName: mysql-nfs-pvc

- name: Create MySQL Service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: mysql
        namespace: database
        labels:
          app: mysql
      spec:
        selector:
          app: mysql
        type: NodePort
        ports:
          - name: mysql
            protocol: TCP
            port: 3306
            targetPort: 3306
            nodePort: 30306

- name: Add Prometheus Community Helm Repository
  kubernetes.core.helm_repository:
    state: present
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

- name: Install Prometheus MySQL Exporter Helm Chart
  kubernetes.core.helm:
    state: present
    wait: true
    update_repo_cache: true
    name: mysql-exporter
    namespace: monitoring
    chart_ref: prometheus-community/prometheus-mysql-exporter
    values:
      namespaceOverride: monitoring
      mysql:
        host: mysql.database
        user: root
        pass: "{{ db_password }}"
