---

- name: Build Nodes
  hosts: all
  tasks:
    - name: Install nfs-common Package
      ansible.builtin.include_role:
        name: apt_pkg
      vars:
        packages:
          nfs-common

    - name: Install Required Packages
      ansible.builtin.include_role:
        name: apt_pkg
      vars:
        packages:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - software-properties-common
          - python3
          - python3-pip
          - python3-kubernetes
          - python3-yaml
          - python3-jsonpatch
          - python3-pymysql
          - python3-cryptography
        upgrade: true
      when: inventory_hostname in groups['master']

    - name: Update/Upgrade Dist
      become: true
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist
        cache_valid_time: 3600
      when: inventory_hostname in groups['workers']

    - name: Install Helm
      ansible.builtin.include_role:
        name: snap_pkg
      vars:
        classic: true
        packages: helm
      when: inventory_hostname in groups['master']

    - name: Enable cgroups
      become: true
      ansible.builtin.lineinfile:
        state: present
        path: /boot/firmware/cmdline.txt
        regex: '^((?:(?!cgroup_memory=1).)*)$'
        line: '\1 cgroup_enable=memory cgroup_memory=1'
        backrefs: yes

    - name: Mount External HDD
      ansible.builtin.include_role:
        name: mount_hdd
      vars:
        drive: /dev/sda1
      when: inventory_hostname in groups['master']

    - name: Install Docker
      ansible.builtin.include_role:
        name: docker
      when: inventory_hostname in groups['master']

    - name: Install microk8s
      ansible.builtin.include_role:
        name: istvano.microk8s
      vars:
        microk8s_group_HA: master
        microk8s_group_WORKERS: workers
        microk8s_plugins:
          ingress: true
          host-access: true
          helm3: false
        users:
          - hal

    - name: Reboot
      become: true
      ansible.builtin.reboot:
        reboot_timeout: 600
