---

- name: Get Image Hashes
  hosts: master
  tasks:
    - name: Get Api Hash
      register: api_hash
      ansible.builtin.shell: "cat /home/hal/api_hash.txt"

- name: Cleanup microk8s
  hosts: all
  serial: 1
  tasks:
    - name: Get microk8s Image List
      become: true
      register: images
      ansible.builtin.shell: "microk8s ctr images ls -q"

    - name: Remove Old Api Images
      become: true
      ansible.builtin.shell: "microk8s ctr images rm {{ item }}"
      loop: "{{ images.stdout_lines | d([]) }}"
      when: item is search('api') and not item is search(hostvars[groups['master'].0].api_hash.stdout)
