* {
  background-color: var(--primary-color-dark);
}

.nav {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: 2em;
  grid-template-areas: "hamburger logo ."
}

.hamburger {
  grid-area: hamburger;
}

.hamburger-button {
  padding: 0;
}

.logo {
  grid-area: logo;
  position: relative;
  justify-self: center;
  height: 65px;
  width: 180px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.links {
  grid-area: links;
  display: none;
  margin: auto 0;
}

.links ul {
  display: flex;
  justify-content: end;
  gap: 1.5em;
}

@media (width >= 600px) {
  .nav {
    grid-template-columns: min-content 1fr;
    grid-template-areas: "logo links";
  }

  .links {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .logo {
    height: 90px;
    width: 250px;
  }
}
