<header class="header max-width-container">
  <nav class="nav max-width">
    <div class="hamburger">
      <button matIconButton [matMenuTriggerFor]="menu" class="hamburger-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a matButton href="observations">Observations</a>
      </mat-menu>
    </div>
    <a href="/" class="logo"><img src="logo.png" alt="back to home"></a>
    <div class="links">
      <ul>
        <li>
          <a href="observations">Observations</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
