<section class="max-width-container observations-page">
  <div class="section-grid max-width">
    <h2>Local Observations</h2>
    <div class="add-observation">
      <button matButton="filled" class="add-observation-button" (click)="openAddEditObservationDialog()">Add Observation</button>
    </div>
    <div class="observation-graphs">
      @if (loading) {
        <mat-spinner class="spinner"></mat-spinner>
      } @else {
        <app-chart [data]="precipitation"
                   [labels]="labels"
                   [dataLabel]="'Precipitation'">
        </app-chart>
        <app-chart [data]="snow"
                   [labels]="labels"
                   [dataLabel]="'Snow'">
        </app-chart>
      }
    </div>
    <div class="observation-table">
      @if (loading) {
        <mat-spinner class="spinner"></mat-spinner>
      } @else {
        <table mat-table [dataSource]="observations" class="observation-table">
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let observation">{{ observation.date | date:'shortDate' }}</td>
          </ng-container>
          <ng-container matColumnDef="Precipitation">
            <th mat-header-cell *matHeaderCellDef>Precipitation</th>
            <td mat-cell *matCellDef="let observation">{{ observation.precipitationString }}</td>
          </ng-container>
          <ng-container matColumnDef="Snow">
            <th mat-header-cell *matHeaderCellDef>Snow</th>
            <td mat-cell *matCellDef="let observation">{{ observation.snowString }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
      }
    </div>
  </div>
</section>
