---

- name: Create Prometheus NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/prom

- name: Create Grafana NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/grafana

- name: Create MySQL NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/mysql

- name: Create Redis NFS Path
  ansible.builtin.file:
    state: directory
    path: /nfs/redis

- name: Add Storage Label to Master Node
  kubernetes.core.k8s:
    state: patched
    kind: Node
    name: master
    definition:
      metadata:
        labels:
          hdd: enabled

- name: Create Storage Namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    name: storage

- name: Create Local PersistentVolume
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: local-pv
      spec:
        capacity:
          storage: 400Gi
        accessModes:
          - ReadWriteOnce
        persistentVolumeReclaimPolicy: Retain
        storageClassName: local-storage
        local:
          path: /nfs
        nodeAffinity:
          required:
            nodeSelectorTerms:
              - matchExpressions:
                - key: hdd
                  operator: In
                  values:
                    - enabled

- name: Create Local PersistentVolumeClaim
  register: pvc
  until: pvc.result.status.phase | d(None) == "Bound"
  retries: 5
  delay: 10
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: local-pvc
        namespace: storage
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-storage
        resources:
          requests:
            storage: 400Gi

- name: Create nfs-server Deployment
  kubernetes.core.k8s:
    state: present
    wait: yes
    wait_condition:
      type: Available
      status: "True"
      reason: MinimumReplicasAvailable
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: nfs-server
        namespace: storage
        labels:
          app: nfs-server
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: nfs-server
        template:
          metadata:
            labels:
              app: nfs-server
              name: nfs-server
          spec:
            containers:
              - name: nfs-server
                image: itsthenetwork/nfs-server-alpine:11-arm
                env:
                  - name: SHARED_DIRECTORY
                    value: /exports
                ports:
                  - name: nfs
                    containerPort: 2049
                  - name: mountd
                    containerPort: 20048
                  - name: rpcbind
                    containerPort: 111
                securityContext:
                  privileged: true
                volumeMounts:
                  - name: mypvc
                    mountPath: /exports
            volumes:
              - name: mypvc
                persistentVolumeClaim:
                  claimName: local-pvc
            nodeSelector:
              hdd: enabled

- name: Create nfs-server service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: nfs-server
        namespace: storage
      spec:
        selector:
          app: nfs-server
        type: ClusterIP
        ports:
          - name: nfs
            port: 2049
          - name: mountd
            port: 20048
          - name: rpcbind
            port: 111
