.local-observations {
  padding-top: 2em;
}

h3 {
  padding: 0.5em 0;
}

canvas {
  background: white;
}

@media (width >= 600px) {
  .local-observations {
    padding-top: 3em;
  }

  .local-observations-graph-month,
  .local-observations-graph-ytd {
    position: relative;
    grid-column: span 6;
  }
}
