---

- name: Add Worker Label to Worker Nodes
  kubernetes.core.k8s:
    state: patched
    kind: Node
    name: "{{ item }}"
    definition:
      metadata:
        labels:
          node-role.kubernetes.io/worker: ""
  loop:
    - worker1

- name: Copy app
  ansible.posix.synchronize:
    src: /mnt/c/Users/walto/Documents/Projects/pi-kubernetes/HomeApp
    dest: /home/hal
    recursive: true
    rsync_opts:
      - -r
      - --exclude=".angular/"
      - --exclude=".idea/"
      - --exclude=".vscode/"
      - --exclude="node_modules/"

- name: Get Hash
  register: hash
  ansible.builtin.shell: "find /home/hal/HomeApp -type f -print0 | sort -z | xargs -0 sha1sum | sha1sum | head -c 15"

- name: Store Hash
  ansible.builtin.copy:
    content: "{{ hash.stdout }}"
    dest: /home/hal/app_hash.txt

- name: Set Image Name
  ansible.builtin.set_fact:
    image_name: app:{{ hash.stdout }}

- name: Build Image
  community.docker.docker_image_build:
    name: "{{ image_name }}"
    path: /home/hal/HomeApp

- name: Tag Latest
  community.docker.docker_image_tag:
    name: "{{ image_name }}"
    repository: app:latest

- name: Export Image
  community.docker.docker_image_export:
    name: "{{ image_name }}"
    path: /home/hal/app.tar

- name: Import Image Into microk8s
  become: true
  ansible.builtin.shell: "microk8s images import < /home/hal/app.tar"

- name: Get All Docker Images
  register: images
  community.docker.docker_image_info:

- name: Delete Old App Images
  community.docker.docker_image_remove:
    name: "{{ item.Id }}"
  loop: "{{ images.images | d([]) }}"
  when: item.RepoTags is search ('app') and not 'app:latest' in item.RepoTags

- name: Delete App Image Tar
  ansible.builtin.file:
    state: absent
    path: /home/hal/app.tar

- name: Delete App Directory
  ansible.builtin.file:
    state: absent
    path: /home/hal/HomeApp

- name: Create App Namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    name: app

- name: Create App Deployment
  kubernetes.core.k8s:
    state: present
    wait: yes
    wait_condition:
      type: Available
      status: "True"
      reason: MinimumReplicasAvailable
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: app
        namespace: app
        labels:
          app: app
      spec:
        replicas: 1
        selector:
          matchLabels:
            app: app
        template:
          metadata:
            labels:
              app: app
          spec:
            nodeSelector:
              node-role.kubernetes.io/worker: ""
            containers:
              - name: app
                image: "{{ image_name }}"
                imagePullPolicy: Never
                ports:
                  - containerPort: 8080

- name: Create App Service
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: app
        namespace: app
        labels:
          app: app
      spec:
        selector:
          app: app
        type: NodePort
        ports:
          - name: app
            protocol: TCP
            port: 8080
            targetPort: 8080
            nodePort: 30080

- name: Create App Ingress
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: app
        namespace: app
        annotations:
          kubernetes.io/ingress-class: nginx
      spec:
        ingressClassName: nginx
        rules:
          - host: home.local
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name: app
                      port:
                        number: 8080
