
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;
@include cdk.overlay();
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #5F8BA2;
  --primary-color-light: #A0BAC7;
  --primary-color-dark: #395462;
  --secondary-color: #E7C86B;
  --secondary-color-light: #F5E9C3;
  --secondary-color-dark: #CBA121;

  @include mat.progress-spinner-overrides((
    active-indicator-color: #395462
  ));
}

:root mat-slide-toggle.mat-mdc-slide-toggle {
  @include mat.slide-toggle-overrides((
    label-text-color: #395462,
    selected-handle-color: #395462,
    selected-track-color: #395462,
  ));
}

* {
  box-sizing: border-box;
  color: var(--secondary-color);
  font-family: Roboto Mono, sans-serif;
}

.border {
  border: 1px solid black;
}

.max-width {
  width: 100%;
  max-width: 1024px;
  padding: 1em;
}

.max-width-container {
  display: flex;
  justify-content: center;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.section-grid > * {
  grid-column: 1/ -1;
}

.gray-background {
  background: #EBEBEB;
}

.spinner {
  margin: 0 auto;
}

h2 {
  color: black;
  font-size: 1.5em;
}

h3 {
  color: black;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}
