<h2 mat-dialog-title>Add Observation</h2>
<mat-dialog-content>
  <form [formGroup]="observationForm">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precipitation</mat-label>
      <input matInput formControlName="precipitation" type="number" [step]="0.01">
      <mat-slide-toggle matPrefix formControlName="tracePrecipitation">Trace?</mat-slide-toggle>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Snow</mat-label>
      <input matInput formControlName="snow" type="number" [step]="0.01">
      <mat-slide-toggle matPrefix formControlName="traceSnow">Trace?</mat-slide-toggle>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="onClose()">Cancel</button>
  <button matButton (click)="onSubmit()">Add Observation</button>
</mat-dialog-actions>
