mat-label {
  color: var(--primary-color-dark);
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-track-color: #395462;
  --mdc-switch-unselected-track-color: #395462;
  --mdc-switch-selected-handle-color: #395462;
  --mdc-switch-unselected-handle-color: #395462;
  --mdc-switch-label-color: #395462;
}
